TIMESCALEDB_URL=postgres://healthmate:healthmate123@localhost:5432/healthmate?sslmode=disable
KAFKA_ADDR=localhost:9092
KAFKA_TOPIC=health-metrics
KAFKA_GROUP_ID=storage-service-group
PORT=5003
API_PREFIX=/api/v1
JWT_SECRET=healthmate_jwt_secret_dev
